.formbuttons {
	margin-top: 10px;	
}

.breadcrumb{
	font-size: 11px;
	background-color: transparent;	
}

.menu-title {
	margin-left: 10px;
	font-size: 11px;
}

#FormGroupTag4 {
	padding: 3px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 1px 1px 1px #888888;
    margin-top: 2px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: 3px;
    margin-bottom: 6px;
    margin-top: 1px;
    /* background-color: #f7f7f9; */
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 10px;
    margin-left: -30px;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mainTreeview {
	margin-left: 5px;
	border: solid #f7f7f9 4px; 
	width:15.5%; 
	height: 91%;
	position:fixed;
	margin-top: -7px;
}

.treeview  {
	font-size: 11px;
	height: 315px;
	overflow-y: auto; 
	margin-left: 12%;
}

.treeview ul {
	margin-left: -10px;
}

.treeview li {
	list-style: none;
	margin-left: -20px;
	padding-bottom: 2px;
}

.categories {
	margin-left: -20px;
}

.toolbox  {
	height: 99%;
    font-size: small;
    overflow-y: auto;
    float: right;
    width: 12%;
    margin-right: 7px;
    box-shadow: 1px 1px 1px #888888;
}

.toolbox ul {
	list-style: none;
}

.toolbox ul li {
	padding-bottom: 5px;
}


.toolbox .widgets td {
	padding: 10px;
}


.page-style {
	padding: 10 0 0 0;
	margin: 20 -60 20 -40; 
	border: solid #f7f7f9;
}

#propComponents {
	margin-left: 16%;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 5px;
    height: 289px;
}

.over{
    border: 2px solid #00aef0;
}

/*
 *  STYLE 3
 */

.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
