<div class="form-group">
    <label for="$inputpassword.getId()">$inputpassword.getTitulo()</label>
    <input type="password" class="form-control" id="$inputpassword.getId()" name="$inputpassword.getId()" value="$inputpassword.getValor()">
</div>

