<div class="form-group">
    <label for="$inputdate.getId()">$inputdate.getTitulo()</label>
    <input type="date" class="form-control" id="$inputdate.getId()" name="$inputdate.getId()" value="$inputdate.getValor()" placeholder="$inputdate.getPattern()">
</div>

