<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Required meta tags -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="styles/bootstrap.css">
<link rel="stylesheet" href="styles/font-awesome.min.css">
<link rel="stylesheet" href="styles/docs.min.css">
<link rel="stylesheet" href="styles/main.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Custom styles for this template -->
<link href="styles/navbar-fixed-top.css" rel="stylesheet">

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
<h2>$page.getTitle()</h2>

#if(!$page.getMessages().isEmpty())
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	#foreach($msg in $page.getMessages())
	$msg<br/>
	#end
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
#end


#foreach($comp in $page.getComponents())
	$comp.doRender()
#end
</div>

</body>
</html>