<div class="form-group">
    <label for="$Select.getId()">$select.getTitulo()</label>

	<select class="form-control" id="$select.getId()" name="$select.getId()">
	#foreach($comp in $select.getComponents())
		#if($comp.isSelected())
		<option value="$comp.getValor()" selected>$comp.getLabel()</option>
		#else
		<option value="$comp.getValor()">$comp.getLabel()</option>
		#end
	#end
	</select>
</div>