<div class="form-group">
    <label for="$inputtext.getId()">$inputtext.getTitulo()</label>
    <input type="text" class="form-control" id="$inputtext.getId()" name="$inputtext.getId()" value="$inputtext.getValor()">
</div>

