<div class="form-group">
    <label for="$inputemail.getId()">$inputemail.getTitulo()</label>
    <input type="email" class="form-control" id="$inputemail.getId()" name="$inputemail.getId()" value="$inputemail.getValor()">
</div>

