<table class="table table-bordered">
  <thead>
    <tr>
     #foreach($titulo in $table.getColunas())
     	<th scope="col">$titulo.getTitulo()</th>
     #end	
    </tr>
  </thead>
  <tbody>
     #foreach($dado in $table.getDados())
    <tr>
	 #foreach($coluna in $table.getColunas())  
		<td>$table.getValor($dado, $coluna.getCampo())</td>
     #end
    </tr>
    #end	
  </tbody>
</table>