<table class="table table-bordered">
  <thead>
    <tr>
     #foreach($titulo in $table.getColunas())
     	<th scope="col">$titulo.getTitulo()</th>
     #end	
    </tr>
  </thead>
  <tbody>
     #foreach($dado in $table.getDados())
    <tr>
	 #foreach($coluna in $table.getColunas())  
	 	#if ($coluna.isSelecionavel())
			<td><input type="radio" id="$table.getId()" name="$table.getId()" value="$table.getValor($dado, $coluna.getCampo())"></td>
	 	#else
			<td>$table.getValor($dado, $coluna.getCampo())</td>
	 	#end
     #end
    </tr>
    #end	
  </tbody>
</table>